<% if @games.length < 1 %>
    <h1 class="search-heading"> Sorry, no game found :( </h1>
<% else %>
    <h1 class="search-heading"> Total games found: <%= @games.length %> </h1>
    <div class="search-results">
        <% @games.each do | game | %>
            <%= render "complete_game", :game => game %>
        <% end %>
    </div>
<% end %>